<p>
	<%= text_field :name, :label => "Name: " %>
</p>

<p>
	<%= text_field :email, :label => "E-mail: <span>(optional)</span>" %>
</p>

<p>
	<%= text_field :company, :label => "Company: <span>(optional)</span>" %>
</p>

<p>
	<%= text_field :mobile, :label => "Mobile: <span>(optional)</span>" %>
</p>

<p>
	<%= text_field :phone, :label => "Phone: <span>(optional)</span>" %>
</p>

<p>
	<%= text_field :address, :label => "Address: <span>(optional)</span>" %>
</p>